CREATE SEQUENCE ${sequence.name}#if(${sequence.increment} != "")
 INCREMENT ${sequence.increment}#end#if(${sequence.minValue} != "")
 MINVALUE ${sequence.minValue}#end#if(${sequence.maxValue} != "")
 MAXVALUE ${sequence.maxValue}#end#if(${sequence.start} != "")
 START ${sequence.start}#end#if(${sequence.cache} != "")
 CACHE ${sequence.cache}#end#if(${sequence.cycle})
 CYCLE#end